spring:
  profiles:
    active: dev

# ---------------------------------- DEV PROFILE ----------------------------------
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${DB_URL_DEV}
    driver-class-name: org.h2.Driver
    username: ${DB_USER_DEV}
    password: ${DB_PASSWORD_DEV}

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update

  sql:
    init:
      mode: never
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
                - email
                - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google

          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}

        provider:
          google:
            issuer-uri: https://accounts.google.com



jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

# ---------------------------------- TEST PROFILE ----------------------------------
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: ${DB_URL_TEST}
    driver-class-name: org.h2.Driver
    username: ${DB_USER_TEST}
    password: ${DB_PASSWORD_TEST}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  sql:
    init:
      mode: always
      platform: h2

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

# ---------------------------------- PROD PROFILE ----------------------------------
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ipdb}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      connection-timeout: 30000

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google

          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}

        provider:
          google:
            issuer-uri: https://accounts.google.com

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

server:
  port: ${SERVER_PORT}
